@font-face {
  font-family: Montserrat;
  src: url("/assets/fonts/Montserrat-Regular.ttf");
  font-family: Montserrat-medium;
  src: url("/assets/fonts/Montserrat-Medium.ttf");
  font-family: open-sans;
  src: url("/assets/fonts/OpenSans-Regular.ttf");
}

@import "tailwindcss";

@theme{
  --font-montserrat: Montserrat, "sans-serif";
  --font-montserrat-med: Montserrat-medium, "sans-serif";
  --font-open-sans: open-sans, "sans-serif";

  /* Color Palette */
  --color-main-black: #171A1F;
  --color-gray-light: #D1D5DB;
  --color-accent-cyan: #91FFF0;
  --color-primary-teal: #00E8C9;
  --color-dark-teal: #00594D;
  --color-deep-teal: #00927F;
  --color-blue-gray : #1B1F26;
  --color-obsidian-shadow : #1E2127;
  --color-shadow-blue : #252832;
  --color-white: #FFFFFF;
}

body {
  background-color: var(--color-main-black);
  color: white;
  font-family: var(--font-montserrat);
  transition: .5s;
}
